body {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: verdana, Helvetica, sans-serif;
   background-image: url("https://github.com/nadarjasmin/TributePage/blob/master/crystal.jpg?raw=true.jpg");
  background : 1999;
}
.alert {
  width: 100%; /* Configure it fit in your design  */
  padding: 5px;
  padding-bottom: 5px;
  border-left-width: 5px;
    border-bottom-width: 5px;
  border-bottom-color:  #0066cc;
    border-left-color:  #1a8cff;
  border-bottom-left-radius: 10px;
  font-family: verdana, Helvetica, sans-serif;
  font-size: 18px;  
}
.container .jumbotron{
  background-color: #e6f2ff;
}

.row {
  padding-left : 45px;
    padding-right : 45px;
  background-color: #e6f2ff;
}
.thumbnail{
    border-radius : 25px;
}
.thumbnail > img {
  border-radius : 25px;
  padding : 10px;
}